services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .dockervenv:/src/.venv
      - .:/src:cached
    ports:
      - ${APP_BACKEND_PORT}:8000
    restart: always
    command:
      - /bin/bash
      - -c
      - |
        uvicorn api.main:app --host 0.0.0.0 --reload
